﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Alta</title>
</head>
<body>
    <div>
        <form method="post" action="/Home/Alta">
            Codigo:
            <input type="text" name="codigo" />
            <br />
            Nombre:
            <input type="text" name="nombre" />
            <br />
            Apellido:
            <input type="text" name="apellido" />
            <br />
            Descripcion:
            <input type="text" name="descripcion" />
            <br />
            Precio:
            <input type="text" name="precio" />
            <br />

            Fecha de Pedido:
            <input type="text" name="fechapedido" />
            <br />



            <input type="submit" value="Confirmar" />
        </form>
    </div>
</body>
</html>