﻿@model IEnumerable<Laboratorio14__Tarea.Models.Articulo>
@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>



<body>


    <form>

        Texto a buscar <input id="searchTerm" type="text" onkeyup="doSearch()" />

    </form>
    <table class="table" id="datos">
        <tr>
            <th>
                Codigo
            </th>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                Descripcion
            </th>
            <th>
                Precio
            </th>

            <th>
                Fecha de Pedido
            </th>

            <th>
                Borrar
            </th>
            <th>
                Modificar
            </th>
        </tr>

        @foreach (var articulo in Model)
        {
            <tr>
                <td>
                    @articulo.Codigo
                </td>
                <td>
                    @articulo.Nombre
                </td>
                <td>
                    @articulo.Apellido
                </td>
                <td>
                    @articulo.Descripcion
                </td>
                <td>
                    @articulo.Precio
                </td>

                <td>
                    @articulo.Fechapedido
                </td>

                <td>
                    <a href="/Home/Baja?cod=@articulo.Codigo">Borrar registro</a>
                </td>
                <td>
                    <a href="/Home/Modificacion?cod=@articulo.Codigo">Modificar registro</a>
                </td>
            </tr>

            <tr class='noSearch hide'>

                <td colspan="5"></td>

            </tr>

        }

    </table>
    <a href="/Home/Alta">Agregar</a>

    <a href="/Home/BuscarArticulo">Buscar</a>















    <!-- Script HOy-->




    <script>
        function doSearch() {

            const tableReg = document.getElementById('datos');

            const searchText = document.getElementById('searchTerm').value.toLowerCase();

            let total = 0;



            // Recorremos todas las filas con contenido de la tabla

            for (let i = 1; i < tableReg.rows.length; i++) {

                // Si el td tiene la clase "noSearch" no se busca en su cntenido

                if (tableReg.rows[i].classList.contains("noSearch")) {

                    continue;

                }



                let found = false;

                const cellsOfRow = tableReg.rows[i].getElementsByTagName('td');

                // Recorremos todas las celdas

                for (let j = 0; j < cellsOfRow.length && !found; j++) {

                    const compareWith = cellsOfRow[j].innerHTML.toLowerCase();

                    // Buscamos el texto en el contenido de la celda

                    if (searchText.length == 0 || compareWith.indexOf(searchText) > -1) {

                        found = true;

                        total++;

                    }

                }

                if (found) {

                    tableReg.rows[i].style.display = '';

                } else {

                    // si no ha encontrado ninguna coincidencia, esconde la

                    // fila de la tabla

                    tableReg.rows[i].style.display = 'none';

                }

            }



            // mostramos las coincidencias

            const lastTR = tableReg.rows[tableReg.rows.length - 1];

            const td = lastTR.querySelector("td");

            lastTR.classList.remove("hide", "red");

            if (searchText == "") {

                lastTR.classList.add("hide");

            } else if (total) {

                td.innerHTML = "Se ha encontrado " + total + " coincidencia" + ((total > 1) ? "s" : "");

            } else {

                lastTR.classList.add("red");

                td.innerHTML = "No se han encontrado coincidencias";

            }

        }
    </script>

</body>
</html>
