﻿@model Laboratorio14__Tarea.Models.Articulo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Alta</title>
</head>
<body>
    <div>
        <form method="post" action="/Home/Modificacion">
            Codigo:
            <input type="text" name="codigo" value="@Model.Codigo" readonly />
            <br />

            Nombre:
            <input type="text" name="nombre" value="@Model.Nombre" />
            <br />

            Apellido:
            <input type="text" name="apellido" value="@Model.Apellido" />
            <br />



            Descripcion:
            <input type="text" name="descripcion" value="@Model.Descripcion" />
            <br />
            Precio:
            <input type="text" name="precio" value="@Model.Precio" />
            <br />


            Fecha de Pedidos:
            <input type="text" name="fechapedido" value="@Model.Fechapedido" />
            <br />


            <input type="submit" value="Confirmar" />
        </form>
    </div>
</body>
</html>