﻿
@model IEnumerable<Laboratorio14.Models.productos>
@{
    ViewBag.Title = "Index";
    WebGrid wg = new WebGrid(Model);
}

<style type="text/css">
    .headerStyle{
        background: #FFFFCC;
    }
    .tableStyle {
        background: #CFFFCC;
    }
    .alternateStyle{
        background: #FBFFCC;
    }


</style>


<h2>Lista de Productos</h2>
<br />
<!--Especificamos la columnas a imprimir si deseea -->
@wg.GetHtml(
    headerStyle: "headerStyle",
    tableStyle: "tableStyle",
    alternatingRowStyle: "alternatingRowStyle",
    columns: new[]
    {

        wg.Column("IdProducto",header:"Codigo", canSort:false),
        wg.Column("NomProducto",header:"Descripcion"),
        wg.Column("cantxunidad",header:"Cantidad.Unid"),
        wg.Column("preciounidad",header:"Precio" , format:@<text> S/. @item.preciounidad</text>  )
    })


