﻿@page "/filmEliminar/{id:int}"

@using Model
@using Interfaces
@inject IFilmacionServicio FilmacionServicios
@inject NavigationManager NavigationManager

<h3>Filmacion Eliminar</h3>
<p style="color:darkred ; text-align:center"> Esta seguro que desea eliminar la filmacion? </p>

<EditForm Model="@film">
    <table class="table">
        <tr>
            <td>Titulo:</td>
            <td><input type="text" @bind="film.Title" /></td>
        </tr>

        <tr>
            <td>Director:</td>
            <td><input type="text" @bind="film.Director" /></td>
        </tr>


        <tr>
            <td>Tiempo ejecutado:</td>
            <td><input type="datetime" @bind="film.ReleaseDate" /></td>
        </tr>

        <tr>

            <td colspan="2" style="text-align:center">
                <input type="submit" value="Eliminar" @onclick="EliminarFilm" />
                <input type="button" value="Cancel" @onclick="Cancel" />
            </td>
        </tr>
    </table>
</EditForm>



@code {
    Filmacion film = new Filmacion();
    [Parameter]
    public int id { get; set; }

    protected async Task EliminarFilm()
    {
        await FilmacionServicios.EliminarFilmacion(id);
        NavigationManager.NavigateTo("/filmlist");

    }
    protected override async Task OnInitializedAsync()
    {
        film = await FilmacionServicios.GetFilmacionDetalles(id);
    }

    protected void Cancel()
    {
        NavigationManager.NavigateTo("/filmlist");

    }

}
