﻿@page "/filmdetalles"

@page "/filmdetalles/{ID:int}"

@using Model
@using Interfaces
@inject IFilmacionServicio FilmacionServicios

@inject NavigationManager NavigationManager

<h3>Seccion de Filmacion Detalles</h3>


<EditForm Model="@film">
    <table class="table">
        <tr>
            <td>Titulo:</td>
            <td><input type="text" @bind="film.Title" /></td>
        </tr>

        <tr>
            <td>Director:</td>
            <td><input type="text" @bind="film.Director" /></td>
        </tr>


        <tr>
            <td>Tiempo ejecutado:</td>
            <td><input type="datetime" @bind="film.ReleaseDate" /></td>
        </tr>

        <tr>

            <td colspan="2" style="text-align:center">
                <input type="submit" value="Save" @onclick="GuardarFilmacion" />
                <input type="button" value="Cancel" @onclick="CancelarFilmacion" />
            </td>
        </tr>
    </table>
</EditForm>



@code {

    [Parameter]
    public int ID { get; set; }


    Filmacion film = new Filmacion();

    protected void CancelarFilmacion()
    {
        NavigationManager.NavigateTo("/filmlist");
    }
    protected async Task GuardarFilmacion()
    {
        // Inseratar llamdo de filmacion de datos
        await FilmacionServicios.GuardarFilmacion(film);
        NavigationManager.NavigateTo("/filmlist");
    }

    protected override async Task OnInitializedAsync()
    {
        if (ID == 0)
        {
            film.ReleaseDate = DateTime.Now;

        }
        else
        {
            film = await FilmacionServicios.GetFilmacionDetalles(ID);
        }
    }


}
