﻿@page "/filmlist"
@using Model
@using Interfaces
@inject IFilmacionServicio FilmacionServicios


<h3>Listado de Filmacion</h3>
@if ( films == null)
{
    <p><em>Cargando ....</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Director</th>
                <th>Tiempo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var film in films)
            {
            <tr>
                <td>@film.Title</td>
                <td>@film.Director</td>
                <td>@film.ReleaseDate</td>
                <td><a href="/filmdetalles/@film.ID"><i>Editar</i></a></td>
                <td><a href="/filmEliminar/@film.ID"><i>Eliminar</i></a></td>

            </tr>
            }
        </tbody>

    </table>
}



@code {
    private IEnumerable<Filmacion> films;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            films = await FilmacionServicios.GetAllFilms();
        }
        catch (Exception)
        {
            throw;
        }
    }
}
