﻿

@model List<Laboratorio12.Models.Persona>
@{
    ViewBag.Title = "Listar";
}

<h2>Listar Personas Registradas</h2>

<table>
    <tr>
        <th>PersonaID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Fecha Nacimiento</th>
        <th>Direccion</th>
        <th>Email</th>
    </tr>
    @foreach (var persona in Model)
    {
        <tr>
            <th>@persona.PersonaID</th>
            <th>@persona.Nombre</th>
            <th>@persona.Apellido</th>
            <th>@persona.FechaNac</th>
            <th>@persona.Direccion</th>
            <th>@persona.Email</th>

        </tr>
    }

</table>
