﻿<!-- Razor es un lenguaje predeteminado que maneja la funcion de cshtml convinacion de c# y html -->
@{
    ViewBag.Title = "Alumno";
}

<h2>Alumno</h2>

<ul>
    @for ( int i =0; i < 10; i++)
    {
        <li>@ViewBag.Nombre</li>
    }

</ul>
