﻿@model List<Laboratorio13.Models.Persona>

@{
    ViewBag.Title = "Listar";

    var grid = new WebGrid(source: Model, columnNames: new[]
    {"PersonaID", "Nombre","Apellido","FechaNac","Direccion","Email"});
}
<!--     //  var grid = new WebGrid(source: Model); -->
<h2>Listado de Personas</h2>
@grid.GetHtml(tableStyle: "table table-striped",
    columns: grid.Columns(
        grid.Column(columnName: "PersonaID", header: "PersonaID"),
        grid.Column(columnName: "Nombre", header: "Nombre"),
        grid.Column(columnName: "Apellido", header: "Apellido"),
        grid.Column(columnName: "FechaNac", header: "FechaNac"),
        grid.Column(columnName: "Direccion", header: "Direccion"),
        grid.Column(columnName: "Email", header: "Email"),
        grid.Column(header: "Acciones", format: (item) => Html.ActionLink("Mostrar personas", "Mostar", "Persona", new { id = item.PersonaID }, null))
    )

     )

<form asp-controller="Movies" asp-action="Index">
    <p>
        Title: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>
    