﻿@model IEnumerable<Laboratorio13___Tarea.Models.Persona>

@{
    ViewBag.Title = "Index";
}

<h2>Area Personas</h2>
@using (Html.BeginForm())
{
    <b>Nombre:</b>
    <input type="text" name="name" value="@ViewBag.Name" />
    <input type="submit" value="Filtrar" />

    <table class="table table-striped">
        <tr>
            <th>Cliente Id</th>
            <th>Nombre</th>
            <th>Correo</th>
        </tr>
    </table>
    foreach (var item in Model)
    {
        <tr>
            <th>@item.ClienteId</th>
            <th>@item.Nombre</th>
            <th>@item.Correo</th>

        </tr>
    }


}





