﻿@model Laboratorio15.Models.Categories

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@using ( Html.BeginForm())
{
    @Html.ValidationSummary(true)

<fieldset>
    <legend>Categories</legend>
    <div class="editor-label">
        @Html.LabelFor(model => model.CategoryID)

    </div>

    <div class="editor-label">
        @*Html.EditorFor(model => model.CategoryID)*@
        @*Html.ValidationMessageFor(model => model.CategoryID)*@
    </div>


    <div class="editor-label">
        @Html.LabelFor(model => model.CategoryName)

    </div>

    <div class="editor-label">
        @Html.EditorFor(model => model.CategoryName)
        @Html.ValidationMessageFor(model => model.CategoryName)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Description)

    </div>

    <div class="editor-label">
        @Html.EditorFor(model => model.Description)
        @Html.ValidationMessageFor(model => model.Description)
    </div>

    <p>
        <input type="submit" value="Create"/>
    </p>


</fieldset>


}

<div>
    @Html.ActionLink("Retornar a Index","Index")
</div>