﻿

@model Laboratorio15.Models.Categories
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Desea Eliminar el Registro</h3>
<fieldset>
    <legend>
        Categorias
    </legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CategoryID)

    </div>

    <div class="display-label">
        @Html.DisplayFor(model => model.CategoryID)

    </div>




    <div class="display-label">
        @Html.DisplayNameFor(model => model.CategoryName)

    </div>

    <div class="display-label">
        @Html.DisplayFor(model => model.CategoryName)

    </div>





    <div class="display-label">
        @Html.DisplayNameFor(model => model.Description)

    </div>

    <div class="display-label">
        @Html.DisplayFor(model => model.Description)

    </div>



</fieldset>


@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Delete" /> | 
        @Html.ActionLink("Regresar al listado" , "Index")
    </p>
}






