﻿@model IEnumerable<Laboratorio15.Models.Products>
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>


<p>
    @Html.ActionLink("Nueva Categoria", "Create")
</p>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupplierID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryID)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.QuantityPerUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitsInStock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitsOnOrder)
        </th>



        <th>
            @Html.DisplayNameFor(model => model.ReorderLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discontinued)
        </th>

    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ProductID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ProductName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SupplierID)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.CategoryID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.QuantityPerUnit)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UnitPrice)
    </td>



    <td>
        @Html.DisplayFor(modelItem => item.UnitsInStock)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UnitsOnOrder)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ReorderLevel)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Discontinued)
    </td>


    <td>
        @Html.ActionLink("Editar", "Edit", new { id = item.CategoryID }) |
        @Html.ActionLink("Productos", "Details", new { id = item.CategoryID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.CategoryID })
    </td>

</tr>
    }




</table>


