﻿
@model IEnumerable<Laboratorio15.Models.Categories>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nueva Categoria","Create")
</p>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
    
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.CategoryID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CategoryName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>

    <td>
        @Html.ActionLink("Editar", "Edit", new { id = item.CategoryID }) |
        @Html.ActionLink("Detalles", "Details", new { id = item.CategoryID }) |
        @Html.ActionLink("Borrar", "Delete", new { id = item.CategoryID })
    </td>

</tr>
    }




</table>


