﻿<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Laboratorio11 – SchoolApp-Tarea</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Presentacion
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="filmlist">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Filmacion Lista
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="filmdetalles">
                <span class="oi oi-plus" aria-hidden="true"></span> Filmacion Agregar
            </NavLink>
        </li>

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
