﻿@page "/filmEliminar/{Correlativo:int}"

@using Model
@using Interfaces
@inject IFilmacionServicio FilmacionServicios
@inject NavigationManager NavigationManager

<h3>Desea Eliminar Cita</h3>
<p style="color:darkred ; text-align:center"> Esta seguro que desea eliminar los datos de la cita medica? </p>

<EditForm Model="@film">
    <table class="table">
        <tr>
            <td>Nombre del paciente:</td>
            <td><input type="text" @bind="film.Paciente" /></td>
        </tr>

        <tr>
            <td>Tipo de Paciente:</td>
            <td><input type="text" @bind="film.Aseguradora" /></td>
        </tr>

        <tr>
            <td>Tipo de Placa:</td>
            <td><input type="text" @bind="film.Examen" /></td>
        </tr>

        <tr>
            <td>Fecha:</td>
            <td><input type="datetime" @bind="film.Fecha_solicitud" /></td>
        </tr>


        <tr>
            <td>Enlace de imagenes de las placas:</td>
            <td><input type="text" @bind="film.Imagen" /></td>
        </tr>

        <tr>
            <td>Enlace de Informe:</td>
            <td><input type="text" @bind="film.Informe" /></td>
        </tr>

        <tr>
            <td>Correo electrónico:</td>
            <td><input type="email" @bind="film.Email" /></td>
        </tr>

        <tr>
            <td>Numero telefonico o celular:</td>
            <td><input type="number" @bind="film.Celular" /></td>
        </tr>

        <tr>

            <td colspan="2" style="text-align:center">
                <input type="submit" value="Eliminar" @onclick="EliminarFilm" />
                <input type="button" value="Cancel" @onclick="Cancel" />
            </td>
        </tr>
    </table>
</EditForm>



@code {
    Filmacion film = new Filmacion();
    [Parameter]
    public int Correlativo { get; set; }

    protected async Task EliminarFilm()
    {
        await FilmacionServicios.EliminarFilmacion(Correlativo);
        NavigationManager.NavigateTo("/filmlist");

    }
    protected override async Task OnInitializedAsync()
    {
        film = await FilmacionServicios.GetFilmacionDetalles(Correlativo);
    }

    protected void Cancel()
    {
        NavigationManager.NavigateTo("/filmlist");

    }

}
