﻿@page "/filmdetalles"

@page "/filmdetalles/{Correlativo:int}"

@using Model
@using Interfaces
@inject IFilmacionServicio FilmacionServicios

@inject NavigationManager NavigationManager

<h3>Seccion de Pacientes - Detalles de Registro</h3>


<EditForm Model="@film">
    <table class="table">
        <tr>
            <td>Nombre del paciente:</td>
            <td><input type="text" @bind="film.Paciente" /></td>
        </tr>

        <tr>
            <td>Tipo de Paciente:</td>
            <td><input type="text" @bind="film.Aseguradora" /></td>
        </tr>

        <tr>
            <td>Tipo de Placa:</td>
            <td><input type="text" @bind="film.Examen" /></td>
        </tr>

        <tr>
            <td>Fecha:</td>
            <td><input type="datetime" @bind="film.Fecha_solicitud" /></td>
        </tr>


        <tr>
            <td>Enlace de imagenes de las placas:</td>
            <td><input type="text" @bind="film.Imagen" /></td>
        </tr>

        <tr>
            <td>Enlace de Informe:</td>
            <td><input type="text" @bind="film.Informe" /></td>
        </tr>

        <tr>
            <td>Correo electrónico:</td>
            <td><input type="email" @bind="film.Email" /></td>
        </tr>

        <tr>
            <td>Numero telefonico o celular:</td>
            <td><input type="number" @bind="film.Celular" /></td>
        </tr>



        <tr>

            <td colspan="2" style="text-align:center">
                <input type="submit" value="Save" @onclick="GuardarFilmacion" />
                <input type="button" value="Cancel" @onclick="CancelarFilmacion" />
            </td>
        </tr>
    </table>
</EditForm>



@code {

    [Parameter]
    public int Correlativo { get; set; }


    Filmacion film = new Filmacion();

    protected void CancelarFilmacion()
    {
        NavigationManager.NavigateTo("/filmlist");
    }
    protected async Task GuardarFilmacion()
    {
        // Inseratar llamdo de filmacion de datos
        await FilmacionServicios.GuardarFilmacion(film);
        NavigationManager.NavigateTo("/filmlist");
    }

    protected override async Task OnInitializedAsync()
    {
        if (Correlativo == 0)
        {
            film.Fecha_solicitud = DateTime.Now;

        }
        else
        {
            film = await FilmacionServicios.GetFilmacionDetalles(Correlativo);
        }
    }


}
