﻿@page "/filmlist"
@using Model
@using Interfaces
@inject IFilmacionServicio FilmacionServicios


<h3>Listado de Filmacion</h3>
@if (films == null)
{
    <p><em>Cargando ....</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Paciente</th>
                <th>Asegurado</th>
                <th>Examen</th>
                <th>Fecha_solicitud</th>
                <th>Imagen</th>
                <th>Informe</th>
                <th>Email</th>
                <th>Celular</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var film in films)
            {
                <tr>
                    <td>@film.Paciente</td>
                    <td>@film.Aseguradora</td>
                    <td>@film.Examen</td>
                    <td>@film.Fecha_solicitud</td>
                    <td>@film.Imagen</td>
                    <td>@film.Informe</td>
                    <td>@film.Email</td>
                    <td>@film.Celular</td>

                    <td><a href="/filmdetalles/@film.Correlativo"><i>Editar</i></a></td>
                    <td><a href="/filmEliminar/@film.Correlativo"><i>Eliminar</i></a></td>

                </tr>
            }
        </tbody>

    </table>
}



@code {
    private IEnumerable<Filmacion> films;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            films = await FilmacionServicios.GetAllFilms();
        }
        catch (Exception)
        {
            throw;
        }
    }
}
