﻿@page "/"

<div class="header">
    <h2>Clinica Arequipa</h2>
</div>

<div class="row">
    <div class="leftcolumn">
        <div class="card">
            <h2>
                Teleconsultas
            </h2>
            <h5>TAnte la situación actual, queremos seguir protegiendo tu salud y la de tu familia. Nuestro servicio de Telecosnultas, 
            te permitirá recibir atención médica de manera rápida y oportuna desde cualquier lugar</h5>
            <div ><img src="https://www.clinicarequipa.com.pe/wp-content/uploads/2019/04/56167992_2595905217147851_7384094241288355840_n.jpg" style="height:400px; width:700px ;"></div>
            <p>Quieres saber mas..</p>
        </div>
        <div class="card">
            <h2>Farmacia 24 horas</h2>
            <h5>
                Contamos con el Stock de medicamentos  más amplio de Arequipa y un destacado Staff de profesionales Químicos Farmacéuticos,
                quienes te brindaran  el mejor servicio. Atendemos las 24 horas los 365 días del año.
            </h5>
            <div><img src="https://s3-us-west-2.amazonaws.com/wp-mpro-blog/wp-content/uploads/2018/10/22032059/Blog-farmacia-01-min.jpg" style="height:400px; width:700px ;"></div>
            <p>Quieres saber mas..</p>
        </div>
    </div>
    <div class="rightcolumn">
        <div class="card">
            <h2>Horario</h2>
            <p>Lunes – Viernes 7:30 – 18:00</p>
            <p>Sábado 7:30 – 13:30</p>
            <p>Emergencia 24 horas </p>
        </div>
        <div class="card">
            <h3>Especialidadest</h3>
            <div class="fakeimg">Terapia</div><br>
            <div class="fakeimg">Medicina General</div><br>
            <div class="fakeimg">Genetica</div>
        </div>
        <div class="card">
            <h3>Direccion</h3>
            <p>AV Centro America Latino</p>
        </div>
    </div>
</div>

<div class="footer">
    <h2>ArequipaCorp</h2>
</div>

<style>


/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */


/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}



</style>
